<Html>
<head>
<!-- Stylesheets -->

<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
<!-- endbower -->

<link rel="stylesheet" type="text/css" href="styles/home.css">

<!-- Javascripts -->  

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/bootbox/bootbox.js"></script>
<script src="bower_components/leaflet/dist/leaflet.js"></script>
<script src="bower_components/leaflet/dist/leaflet-src.js"></script>
<script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
<!-- endbower -->


<script src="scripts/app.js"></script>  
<script src="scripts/settings.js"></script>  
<script src="scripts/config.js"></script>       
<script src="scripts/tips.js"></script>       

<script src="scripts/directives/date.js"></script>
<script src="scripts/directives/time.js"></script>
<script src="scripts/directives/let.js"></script>
<script src="scripts/directives/disable.js"></script>

<script src="scripts/filters/correct.js"></script>
<script src="scripts/filters/date.js"></script>
<script src="scripts/filters/partition.js"></script>
                   
<script src="scripts/models/app.js"></script>
<script src="scripts/models/user.js"></script>
<script src="scripts/models/chemical_report.js"></script>
<script src="scripts/models/bacteria_report.js"></script>
<script src="scripts/models/report.js"></script>

<script src="scripts/controllers/user.js"></script>
<script src="scripts/controllers/report.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/reports.js"></script>

<script src="scripts/services/types.js"></script>

</head>
<body>
<div ng-app="app" id="app">
  <div id="banner">
    <img id="logo" src="/images/logo.jpg"></img>
    <img id="ekg" src="/images/ekg.png"></img>
    <span id="title">RCS River Monitor</span>
    <div id="userNav">
      <div ng-if="$root.user">
	<span id="greeting">signed in as {{$root.user.name}}</span>
	<span style="float:right">
	   <a href="#profile" class="glyphicon glyphicon-cog userBtn"></a>
	   <a href="#logout"  class="glyphicon glyphicon-log-out userBtn"></a>	     
	</span>
      </div>
      <br />
      <div id="sidebar-right" ng-if="$root.user">
	<a ng-class="{'active': $root.isActive('/home')}" class="btn-lg btn-default" href="#/home">Home</a>
	<a ng-class="{'active': $root.isActive('/report')}" class="btn-lg btn-default" href="#/report">View Data</a>
	<a ng-class="{'active': $root.isActive('/report/new')}" class="btn-lg btn-default" href="#/report/new">Add Data</a>
      </div>      
    </div>        
  </div>
  <div id="content">
    <alert ng-repeat="msg in $root.messages" type="{{msg.type}}" close="$root.closeMsg($index)">{{msg.msg}}</alert>
    <span ng-view></span>
  </div>
</div>
</body>
</html>
