<div class="col-md-6">
  <div class="form-group">
    <label>      
      Date:      &nbsp;&nbsp;
    </label>
    <span ng-model="report.date" ng-change="report.updateTime()"> </span>
          &nbsp;&nbsp;&nbsp;      
    <label>      
      Time:       &nbsp;&nbsp;
    </label>
    <span ng-model="report.time" ng-change="report.updateTime()"> <span>
  </div>  
  <div class="form-group">
    <label>      
      Weather:      &nbsp;&nbsp;
    </label>
    <span ng-model="report.weather" > <span>
          &nbsp;&nbsp;&nbsp;      
    <label>      
      Recent precipitation:       &nbsp;&nbsp;
    </label>
    <span ng-model="report.recent_precipitation" > <span>
  </div>  
<div>
  <ng-include src="'forms/chemical.html'"></ng-include>
</div>
<div ng-if="template=='guardian'">
  <ng-include src="'forms/bacteria.html'"></ng-include>
</div>
  <label style="width:500px;">      
    Notes: (Provide any relevant information on wildlife and plant sightings (including invasives), human interactions (approx. number using the river), pollution and litter, erosion, debris blocking the River, land use in the area, notable historic/cultural structures or geologic outcrops and any actions needed). Please provide GPS (lat./long.) for locations if possible.
    </label><br />
  <textarea ng-model="report.notes" style="width:500px; height:250px;"> 
  </textarea>  
    <div class="form-group">
      <label>Latitude:	&nbsp;&nbsp; </label>
      <span ng-model="markers.main.lat"  > <span>
      <br />
      <label>Longitude:	&nbsp;&nbsp;</label>
      <span ng-model="markers.main.lng" > <span>
    </div>

    <button class="btn btn-success"
	    ng-click="submit()">Submit</button>
<br />
<br />
</div>
<div class="col-md-4">
<leaflet markers="markers" center="center" height="480px" width="480px"></leaflet>
</div>
