<div class="form">
  <div class="form-group">
    <label>      
    </label>
    <input />
  </div>
  <div class="form-group">
    <label>      
    </label>
    <input />
  </div>
  <div class="form-group">
    <label>      
    </label>
    <input />
  </div>
  <div class="form-group">
    <label>      
    </label>
    <input />
  </div>
  <div class="form-group">
    <label>      
    </label>
    <input />
  </div>
  <div class="form-group">
    <label>      
    </label>
    <input />
  </div>
  <div class="form-group">
    <label>      
    </label>
    <input />
  </div>
</div>
