<h4> Bacterial Monitoring </h4>
<div class="fg-p">
<div class="fg" ng-repeat="(key, value) in report.bacteria_report">
  <label>      
    {{ key | correctify }}: &nbsp;&nbsp;
  </label>
  <ng-switch on="value.type">	  	 
    <input ng-switch-when="string" ng-model="value.value" />
    <input ng-switch-when="number" ng-model="value.value" />
    <select ng-switch-when="bool" ng-model="value.value" >
      <option value="true">yes</option>
      <option value="false">no</option>
      <select/>
  </ng-switch>
  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
  <br style="clear:both" ng-if="$even" />
  <br style="clear:both" ng-if="$even" />
</div>
