<h4> Chemical Monitoring </h4>
<div class="fg-p">
<div class="fg" ng-repeat="key in report.chemical_report.keys">
  <let var="value" eq="{{report.chemical_report[key]}}"/>

  <label>      
    {{ key | correctify }}: &nbsp;&nbsp;
  </label>
  <ng-switch on="value.type">	  	 
    <input class="text" ng-switch-when="text" type="value.type" ng-model="value.value" />
    <input class="number" ng-switch-when="number" type="value.type" ng-model="value.value" />
    <select ng-switch-when="bool"  type="value.type" ng-model="value.value" >
      <option value="true">yes</option>
      <option value="false">no</option>
      <select/>
  </ng-switch>
  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
  <br style="clear:both" ng-if="$even" />
  <br style="clear:both" ng-if="$even" />
</div>
</div>


