<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RCS Data Entry</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-1 column">
                <ul class="nav nav-pills">
                    <p>
                        <li class="active">
                            <a href="#home">Home</a>
                        </li>
                    </p>
                    <p>
                        <li>
                            <a href="#profile">Profile</a>
                        </li>
                    </p>
                    <p>
                        <li>
                            <a href="#add_data">Add Data</a>
                        </li>
                    </p>
                    <p>
                        <li>
                            <a href="#review_data">Review Data</a>
                        </li>
                    </p>
                    <p>
                        <li class="disabled">
                            <a href="#messages">Messages</a>
                        </li>
                    </p>
                </ul>
            </div>
            <div class="col-md-8 column">
                <div class="jumbotron">
                    <h1>
		      Welcome to the RCS River Data Portal
	  </h1>
                    <p>
		      A web based system for collecting data about and monitoring the Rivanna River.
                    </p>
                    <p>
                        <a class="btn btn-primary btn-large" href="#learn_more">Learn More</a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 column">
                <div class="row">
		  <div class="col-md-12">
                    News
		  </div>
		</div>
		<div class="row">
		    <div class="col-md-12">
                      News
		    </div>
		</div>
		<div class="row">
                    <div class="col-md-12">
                      News
		    </div>
		</div>
            </div>
	    		<div class="container">
		  <div class="row clearfix">
		    <div class="col-md-12 column">
		      <table class="table table-bordered table-hover">
			<thead>
			  <tr>
			    <th>
			      #
			    </th>
			    <th>
			      Product
			    </th>
			    <th>
			      Payment Taken
			    </th>
			    <th>
			      Status
			    </th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
			    <td>
			      1
			    </td>
			    <td>
			      TB - Monthly
			    </td>
			    <td>
			      01/04/2012
			    </td>
			    <td>
			      Default
			    </td>
			  </tr>
			  <tr class="active">
			    <td>
			      1
			    </td>
			    <td>
			      TB - Monthly
			    </td>
			    <td>
			      01/04/2012
			    </td>
			    <td>
			      Approved
			    </td>
			  </tr>
			  <tr class="success">
			    <td>
			      2
			    </td>
			    <td>
			      TB - Monthly
			    </td>
			    <td>
			      02/04/2012
			    </td>
			    <td>
			      Declined
			    </td>
			  </tr>
			  <tr class="warning">
			    <td>
			      3
			    </td>
			    <td>
			      TB - Monthly
			    </td>
			    <td>
			      03/04/2012
			    </td>
			    <td>
			      Pending
			    </td>
			  </tr>
			  <tr class="danger">
			    <td>
			      4
			    </td>
			    <td>
			      TB - Monthly
			    </td>
			    <td>
			      04/04/2012
			    </td>
			    <td>
			      Call in to confirm
			    </td>
			  </tr>
			</tbody>
		      </table>
		    </div>
		  </div>
		</div>
          </div>
        </div>
      </div>
    </body>    
</html>
