<div ng-app="app" id="app">
  <div id="banner">
    <img id="logo" src="/assets/logo.jpg"></img>
    <img id="ekg" src="/assets/ekg.png"></img>
    <span id="title">RCS River Monitor</span>
    <div id="userNav">
      <div ng-controller="UserCtrl">
	<h4>signed in as {{user.name}}</h4>
	<span style="float:right">
	   <a href="#profile" class="glyphicon glyphicon-cog userBtn"></a>
	   <%= link_to('', destroy_user_session_path, :method => :delete, :class=> 'glyphicon glyphicon-log-out userBtn') %>    
	</span>
      </div>
    </div>        
  </div>
  <div id="sidebar-right">
    <a class="navBtn btn" href="#/report/new">Add Data</a>
  </div>
  <div id="content">
    <span ng-view></span>
    <ng-include src="'map.html'"></ng-include>
  </div>
  <ng-include src="'data.html'"></ng-include>
</div>
